.header {
    padding: 20px 20px 0;
}

.greeting {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}

#dateForm{
    padding: 10px 10px 10px 5px;
}

.gen{
    padding: 10px 10px 8px 10px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 161%;
    letter-spacing: -0.02em;
    color: #fff;
}

.deathDay, .deathMonth, .deathYear, .character, .work{
    padding: 10px 10px 8px 10px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 161%;
    letter-spacing: -0.02em;
    color: #fff;
}


