.introduction, .introductionText{

    position: relative;

    padding: 10px 10px 8px 10px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 161%;
    letter-spacing: -0.02em;
    color: #fff;
}

#Bio{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 161%;
    letter-spacing: -0.02em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 50px;
}

#dateForm{
    padding: 10px 10px 10px 5px;
}

textarea[class="introductionText"]{
    color: #fff;
    padding-left: 6px;
    padding-top: 6px;

    border-radius: 10px;
    width: 358px;
    height: 300px;
    background: #3d4754;
    border: 1px solid #3d4754;
    margin: auto;
    display: block;
    white-space: pre-wrap;
    font-family: var(--font-family);
    resize: none;


}

textarea[class="introductionText"]::placeholder {

    left: 6px;
    top: 6px;
}


#TextStart{
    position: relative;
    width: 354px;
    height: 347px;
}

.introductionTextContainer {
    position: relative;
    width: 358px;
    height: 300px;

    border-radius: 10px;
    background: #3d4754;
    border: 1px solid #3d4754;
    margin: auto;
    display: block;
}

.neuro{
    position: absolute; /* Позиционируем кнопку внутри текстового поля */
    right: -5px; /* Измените в зависимости от ваших предпочтений по горизонтальному выравниванию */
    bottom: -12px; /* Измените в зависимости от ваших предпочтений по вертикальному выравниванию */
    border-radius: 12px;
    width: 39px;
    height: 38px;
    background: #1a80e5;
}

.ico{
    display: block;
    margin: 0 auto;
    width: 29px;
    height: 30px;
}

