* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121417;
    font-family: sans-serif;
    width: 390px;
    height: 378px;
    overflow: hidden;
}

.container2 {

    width: 390px;
    height: 378px;
    margin: auto 10px 0 0px;
}

.header {
    padding: 20px 20px 0;
}

.greeting {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.07px;
    color: #fff;
    margin-bottom: 10px;
}

.username {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
}


.yourPage{
    padding: 10px 10px 8px 10px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 161%;
    letter-spacing: -0.02em;
    color: #fff;
}

.card {
    display: flex;
    background: #1a80e5;
    border-radius: 12px;
    width: 359px;
    height: 150px;
    margin: auto;

    padding: 20px;
}

.card img {
    margin-left: 10px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.card-info {
    display: inline-block;
    vertical-align: middle;
}

.card-title {
    color: white;
    margin-top: 25px;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 700;
}

.card-date {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.btn-create{
    position: absolute; /* Позиционируем кнопку абсолютно */
    right: 15.5px; /* Отступ справа */
    bottom: 0; /* Отступ снизу */

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    border-radius: 12px;
    width: 41px;
    height: 40px;

    background: #1a80e5;


}

.plus{
    display: block;
    margin: 0 auto;

    text-decoration: none;

    font-weight: 700;
    font-size: 40px;
    line-height: 52%;
    letter-spacing: 0.01em;
    color: #fff;


}

.footer{
    position: fixed;
    bottom: 5px;
    width:100%;
    margin-bottom: 3px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    color: #fff;

}