body{
    width: 390px;
    height: 687px;
    background: #121417;
}

input{
    margin-left: 100px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    background: #121417;
    font-family: sans-serif;
    width: 390px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    width: 390px;
    margin: 20px auto;
}

.header {
    padding: 20px 20px 0;
}

.greeting {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}

#dateForm{
    padding: 10px 10px 10px 5px;
}

.placeBirth, .placeDeath, .awards, .typeOfActivity, .hobbies{
    padding: 10px 20px 20px 10px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 161%;
    letter-spacing: -0.02em;
    color: #fff;
}





