* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    background: #121417;
    font-family: sans-serif;
    width: 390px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header {
    padding: 20px 20px 0;
}

.greeting {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}

#dateForm{
    padding: 10px 10px 10px 5px;
}

#epitaffioForm{
    padding: 10px 10px 10px 5px;
}

textarea[class="epitaffioText"]{
    color: #fff;
    padding-left: 6px;
    padding-top: 6px;
    margin-left: 100px;
    border-radius: 10px;
    width: 358px;
    height: 300px;
    background: #3d4754;
    border: 1px solid #3d4754;
    margin: auto;
    display: block;
    white-space: pre-wrap;
    font-family: var(--font-family);
    resize: none
}

textarea[class="epitaffioText"]::placeholder {
    position: absolute;
    left: 6px;
    top: 6px;
}

